/* Dashed border */
hr.dashed {
  border-top: 5px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 5px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 5px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}